@media (min-width: 991px) {
    .logo-container img{
        object-fit: cover;
        height: 40px;
        margin-right: 10px;
        cursor: pointer;
    }
    .container-header {
        justify-content: center;
    }

    .input-container {
        display: flex;
    }

    .category-header ul{
        list-style: none;
        justify-content: space-around;
    }
}