@media (min-width: 991px) {

    .container-header {
        justify-content: center;
    }

    .input-container {
        display: flex;
    }

    .category-header ul{
        list-style: none;
        justify-content: space-around;
    }
}